{%extends "base.html"%}
{% import "bootstrap/wtf.html" as wtf %}

{%block content%}

<div class="container">
    <div class="row">
        <div class="col-lg-3"></div>
        <div class="col-lg-6 ">
            {%for message in get_flashed_messages()%}
            <div class="alert alert-danger">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                {{message}}
            </div>
            {%endfor%}
            <form class="border p-5 my-2" style=" font-family: 'Rock Salt', cursive; color: white;"
                method="POST">
                <p class="h4 text-center " style=" font-family: 'Rock Salt', cursive; color: white;">Sign in</p>
                {{wtf.quick_form(login_form)}}
                <div class="text-center">
                    <p style=" font-family: 'Rock Salt', cursive; color: white;">Not a member?
                        <a href="{{url_for('auth.register')}}"
                            style=" font-family: 'Rock Salt', cursive; color: white;">Sign Up</a>
                    </p>
                </div>
            </form>
        </div>
        <div class="col-lg-3"></div>
    </div>
</div>
{%endblock%}