{%extends "base.html"%}
{%block content%}

<div class="container">
    <div class="jumbotron" style="background-color: darkkhaki">
        <div class="card mb-4" style="background-color: olive">
            <h1 style="font-family: 'Rock Salt', cursive; color: white; text-align: center;">ABOUT US</h1>
            <p style="font-family: 'Rock Salt', cursive; color: white;">Blogs is an application that allows users to
                sign
                up, login, create and edit Blogs that they post on our
                webiste. Also a user is able view the comments made on his/her blog profile. The idead of blogs came
                about
                in order to give people a place they can air out their views in a safe environment.
                Everybody deserves the right to express themselves, It's only right that we provide them the best
                environment to do that.
                <ol style="font-family: 'Rock Salt', cursive; color: white;">
                    The technologies used to create the app are:
                    <li>psql</li>
                    <li>Visual studio code</li>
                    <li>SQLALCHEMY</li>
                    <li>python</li>
                </ol>
            </p>
        </div>
    </div>
</div>

{% endblock %}