{% extends "base.html" %}
{% block content %}
<div class="container">
    <h1>These are all the blogs who have created</h1>
    {%for blogpost in blogposts%}
    <div class="card mb-4">
        <div class="card-body">
            <h1>{{loop.index}}.{{blogpost.blog_title}}</h1>
            <p>{{blogpost.post_blog_section|truncate(40)}}...
            </p>
            <br>
            <a class="btn btn-primary" href="/viewblogs/{{blogpost.id}}">Read More</a>
            <br>
            <a href="/comments/{{ blogpost.id }}">view comments/comment on Blog</a>

        </div>
    </div>
    {%endfor%}
</div>
{% endblock %}