{%extends 'base.html'%}

{%block content%}
<div class="container">
    <div class="blogs">
        {% if current_user.is_authenticated %}
        {% for blogpost in blogposts %}
        <div class="blog">
            <div class="blog-header">
                <div class="blog-title">{{ blogpost.blog_title }}</div>
                <div class="blog-info"> by {{ blogpost.user.username }}</div>
            </div>
            <div class="blog-body">
                {{ blogpost.post_blog_section[:75] + '...' }}
            </div>
            <div class="blog-footer">
                <div class="blog-actions"></div>
            </div>
        </div>
        <br>
        {% endfor %}
        {% else %}
        <div class="container">
            <div class="card mb-4">
                <div class="card-body">
                    <h1>Tesla CyberTruck</h1>
                    <p> The Cybertruck has arrived and it looks nothing like any pickup truck you've ever seen. Tesla
                        CEO Elon Musk revealed the long-awaited electric pickup truck at its Design Studio in
                        Hawthorne, California, just outside Los Angeles.

                        When the truck initially drove onto the stage, many in the crowd clearly couldn't believe that
                        this was actually the vehicle they'd come to see. The Cybertruck looks like a large metal
                        trapezoid on wheels, more like an art piece than a truck.
                        The most expensive version of the truck, the Tri Motor All-Wheel-Drive, will be able to carry
                        3,500 pounds, tow up to 14,000 pounds and go from zero to 60 in 2.9 seconds. It will also be
                        able to drive up to 500 miles on a full charge. Base models will have a range of 250 miles.
                        In addition to being able to carry cargo in its bed, the truck will have lockable storage
                        spaces under the hood and in the sides. The bed itself also has a sliding cover. Drivers will
                        also be able to adjust the ride height of the truck, for when they are on the highway or
                        off-road, using an adaptive air suspension system.
                    </p>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="card mb-4">
                <div class="card-body">
                    <h1>HIV AIDS</h1>
                    <p> Human immunodeficiency virus (HIV) is a virus that attacks immune cells called CD4 cells, which
                        are a type of T cell.

                        These are white blood cells that move around the body, detecting faults and anomalies in cells
                        as well as infections. When HIV targets and infiltrates these cells, it reduces the body's
                        ability to combat other diseases.

                        This increases the risk and impact of opportunistic infections and cancers. However, a person
                        can carry HIV without experiencing symptoms for a long time.

                        HIV is a lifelong infection. However, receiving treatment and managing the disease effectively
                        can prevent HIV from reaching a severe level and reduce the risk of a person passing on the
                        virus.
                        AIDS is the most advanced stage of HIV infection. Once HIV infection develops into AIDS,
                        infections and cancer pose a greater risk.

                        Without treatment, HIV infection is likely to develop into AIDS as the immune system gradually
                        wears down. However, advances in ART mean than an ever-decreasing number of people progress to
                        this stage.

                        By the close of 2015, around 1,122,900 people were HIV-positive. To compare, figures from 2016
                        show that medical professionals diagnosed AIDS in an estimated 18,160 people.
                    </p>
                </div>
            </div>
        </div>
        {% endif %}
    </div>
</div>
{% endblock %}